#button-container{
    display: grid;
    grid-template-rows: 100% 100%;
}

#action-button{
    display: grid;
    border-radius: 100%;
    width: 5em;
    background: radial-gradient(rgb(255, 100, 0), red);
    box-shadow: 10px 10px 10px black;
    font-size: 350%;
    z-index: 10;    
    justify-content: center;
    margin: 0 auto;
}


/* #action-button-border{
    z-index: 0;
    border-radius: 0%;
    height: 330px;
    width: 330px;
    border: 2px solid rgb(56, 56, 250);
    
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
} */


@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#cancel-button{
    display: grid;
    /* border-radius: 10%; */
    height: 40px;
    width: 5em;
    background: yellow;
    font-size: auto;
    /* align-content: center; */
    justify-items: center;
    margin: 0 auto;
}

#googlemap{
    display: inline-block;
}

#float_char{
    z-index: 10;
}