/* You can add global styles to this file, and also import other style files */
html{

}
body{
    background: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/rp0jiOD-inswuwfs/lighthouse-beacon-black-sea-send-light-beam-night-turning-lights_bboie88de_thumbnail-full01.png);
    /* background: linear-gradient(black, rgb(43, 43, 43), black); */
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2, h3, p{
    color: white;
    text-align: center;
}

.container{
    /* border: 1px solid gray; */
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    width: 99vw;
}


#googlemap {
}

